/*================================================
Default CSS
=================================================*/
.pl-20 {
  padding-left: 0;
  padding-right: 20px;
}

.pr-20 {
  padding-left: 20px;
  padding-right: 0px;
}

.topbar-left-side ul li {
  margin-left: 15px;
  margin-right: 0px;
}

.topbar-left-side ul li i {
  margin-left: 3px;
  margin-right: 0px;
}

.topbar-right-side .account {
  margin-left: 15px;
  margin-right: 0;
}

.topbar-right-side .account i {
  margin-left: 15px;
  margin-right: 0px;
}

.go-top {
  left: 20px;
  right: unset;
}

.main-nav nav .navbar-nav .nav-item a.dropdown-toggle {
  padding-left: 13px;
  padding-right: 0px;
}

.main-nav nav .navbar-nav .nav-item a.dropdown-toggle i {
  left: 0;
  right: unset;
}

.main-nav nav .navbar-nav .nav-item .dropdown-menu {
  left: unset;
  right: 0;
  text-align: right;
}

.main-nav nav .navbar-nav .nav-item .dropdown-menu li a {
  padding-right: 25px;
}

.main-nav nav .navbar-nav .nav-item .dropdown-menu li a::before {
  left: unset;
  right: 10px;
}

.main-nav nav .navbar-nav .nav-item .dropdown-menu li a i {
  right: unset !important;
  left: 10px !important;
  top: 55%;
}

.main-nav nav .navbar-nav .nav-item .dropdown-menu li .dropdown-menu {
  right: 101%;
  left: unset;
}

/*================================================
Index 01 Banner Area CSS
=================================================*/
.banner-text-area {
  margin-left: 0;
  margin-right: auto;
}

.banner-text-area h6 {
  padding-left: 0;
  padding-right: 45px;
}

.banner-text-area h6::before {
  left: unset;
  right: 0px;
}

.main-banner-img img {
  right: unset;
  left: -20px;
}

/*================================================
Index 01 About Area CSS
=================================================*/
.about-1 .about-img-area {
  margin-left: 0;
  margin-right: auto;
}

.about-text-area .about-list ul li {
  margin-left: 0;
  margin-right: 0;
}

.about-text-area .about-list ul li i {
  margin-right: 0px;
  margin-left: 10px;
}

/*================================================
Index 01 Features Area CSS
=================================================*/
.features-card {
  padding: 30px 160px 25px 30px;
}

.features-card .features-icon-area {
  left: unset;
  right: 25px;
}

.form-select, .form-control {
  text-align: right;
}

/*================================================
Index 01 Portfolio Area CSS
=================================================*/
.portfolio-slider-area .owl-nav {
  left: 0;
  right: unset;
}

/*================================================
Index 01 Testimonial Area CSS
=================================================*/
.testimonial-card .flaticon-right-quote {
  right: unset;
  left: 20px;
}

.testimonial-card .testimonial-footer img {
  margin-left: 15px;
  margin-right: 0px;
}

/*================================================
Index 01 Pricing Area CSS
=================================================*/
.pricing-card .service-price-list ul li i {
  margin-left: 5px;
  margin-right: 0px;
}

/*================================================
Index 01 BLog Area CSS
=================================================*/
.blog-card .blog-card-img .blog-card-category {
  left: unset;
  right: 15px;
}

.blog-date ul li {
  margin-left: 14px;
  margin-right: 0px;
}

.blog-date ul li::before {
  right: unset;
  left: -12px;
}

/*================================================
Index 01 Footer Area CSS
=================================================*/
.footer-quick-links ul li a i {
  margin-left: 5px;
  margin-right: 0px;
}

.footer-links h3::before {
  left: unset;
  right: 0;
}

.footer-content-card {
  padding-left: unset;
  padding-right: 30px;
}

.footer-content-card i {
  right: 0;
  left: unset;
}

.footer-logo-area .footer-social-icons span {
  margin-left: 10px;
  margin-right: 0px;
}

/*================================================
Index 02 Service Area CSS
=================================================*/
.service-card-2 .service-card-2-footer i {
  margin-left: 10px;
  margin-right: 0px;
}

/*================================================
Index 02 About Area CSS
=================================================*/
.about-img-area-2 .about-text-2 {
  right: -30px;
  left: unset;
}

/*================================================
Index 02 FAQ Area CSS
=================================================*/
.faq-img-area .about-text-2 {
  left: -30px;
  right: unset;
}

.banner-img-area .shapes .b3-dot {
  left: unset;
  right: -75px;
}

.banner-img-area .shapes .dot-circle {
  left: 0;
  right: unset;
}

.about-img-area-3::before {
  left: 0;
  right: unset;
}

.about-img-list {
  left: 0;
  right: unset;
}

.features-card-3 {
  padding-left: 0px;
  padding-right: 90px;
}

.features-card-3 i {
  left: unset;
  right: 0;
}

.service-card-3 .service-card-text-3 i {
  left: 10px;
  right: unset;
}

.why-we-card-3 {
  padding-left: 30px;
  padding-right: 100px;
}

.why-we-card-3 i {
  left: unset;
  right: 30px;
}

.booking-3::before {
  left: unset;
  right: 0;
}

/*================================================
Uni Banner Area CSS
=================================================*/
.uni-banner-text ul li:last-child::after {
  display: block;
}

.uni-banner-text ul li:first-child::after {
  display: none;
}

.categories ul li i {
  margin-left: 5px;
  margin-right: 0px;
}

/*================================================
Terms page Area CSS
=================================================*/
.terms .payment li {
  padding-left: 0px;
  padding-right: 20px;
}

.terms .payment li::before {
  left: unset;
  right: 0px;
}

.terms ul li span {
  margin-left: 8px;
  margin-right: 0px;
}

/*================================================
Details Page sidebar area CSS
=================================================*/
.recent-news-card {
  padding-left: 0px;
  padding-right: 105px;
}

.recent-news-card img {
  left: unset;
  right: 0px;
}

/*================================================
Blog Detail Page area CSS
=================================================*/
.comment-card {
  padding-left: 0px;
  padding-right: 100px;
}

.comment-card img {
  left: unset;
  right: 0;
}

.contact-card {
  padding-left: 30px;
  padding-right: 105px;
}

.contact-card i {
  left: unset;
  right: 30px;
}

@media only screen and (max-width: 767px) {
  /*================================================
    Index 01 Banner Area CSS
    =================================================*/
  .main-banner-img img {
    left: 0;
  }
  .banner-text-area {
    margin-left: auto;
  }
  /*================================================
    Index 01 About Area CSS
    =================================================*/
  .about-1 .about-img-area .about-img-2 {
    text-align: right;
  }
  /*================================================
    Index 01 Features About Area CSS
    =================================================*/
  .features-card {
    padding: 30px 20px;
  }
  .features-card .features-icon-area {
    right: 0;
  }
  /*================================================
    Index 01 Blog Area CSS
    =================================================*/
  .blog-date ul li {
    margin-left: 10px;
  }
  /*================================================
    Index 02 About Area CSS
    =================================================*/
  .about-img-area-2 .about-text-2 {
    right: 0px;
    left: unset;
    bottom: 0;
  }
  /*================================================
    Index 02 FAQ Area CSS
    =================================================*/
  .faq-img-area .about-text-2 {
    left: 0px;
    right: unset;
    bottom: 0;
  }
  /*================================================
    Index 03 Why Choose Us Area CSS
    =================================================*/
  .why-we-card-3 {
    padding-left: 10px;
    padding-right: 80px;
  }
  .why-we-card-3 i {
    left: unset;
    right: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /*================================================
    Index 01 Banner Area CSS
    =================================================*/
  .banner-text-area {
    padding-right: 30px;
  }
  .banner-text-area {
    margin-left: auto;
  }
  /*================================================
    Index 01 Features Area CSS
    =================================================*/
  .features-card {
    padding: 30px;
  }
  .features-card .features-icon-area {
    right: 0;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /*================================================
    Index 01 Banner Area CSS
    =================================================*/
  .banner-text-area {
    margin-left: auto;
    margin-right: auto;
  }
  .main-banner-img img {
    left: unset;
  }
  /*================================================
    Index 01 About Area CSS
    =================================================*/
  .about-1 .about-img-area {
    margin-left: auto;
  }
  .about-1 .about-text-area {
    margin-right: auto;
  }
  /*================================================
    Index 01 Blog Area CSS
    =================================================*/
  .blog-date ul li {
    margin-left: 10px;
  }
  /*================================================
    Index 02 About Area CSS
    =================================================*/
  .about-img-area-2 .about-text-2 {
    right: 0px;
    left: unset;
    bottom: 0;
  }
  /*================================================
    Index 02 FAQ Area CSS
    =================================================*/
  .faq-img-area .about-text-2 {
    left: 0px;
    right: unset;
    bottom: 0;
  }
  .why-we-card-3 {
    padding-left: 10px;
    padding-right: 80px;
  }
  .why-we-card-3 i {
    left: unset;
    right: 20px;
  }
}

@media only screen and (min-width: 1550px) {
  .about-img-area-2 .about-text-2 {
    right: -60px;
    left: unset;
  }
  .faq-img-area .about-text-2 {
    left: -30px;
    right: unset;
  }
}

@media only screen and (max-width: 1199px) {
  .mean-container a.meanmenu-reveal {
    left: 0 !important;
    right: auto !important;
  }
  .mobile-nav .logo {
    left: unset;
    right: 0px;
  }
  .mean-container .mean-nav ul li a {
    text-align: right;
  }
  .mean-container .mean-nav ul li a.mean-expand {
    width: 95%;
    text-align: left;
  }
  .menu-small-device {
    left: 45px;
    right: unset;
  }
}
/*# sourceMappingURL=rtl.css.map */